* {
  padding: 0;
  margin: 0;
}

body {
  background: url(images/bg5.png) no-repeat fixed top;
  background-size: cover;
}

.nav {
  position: sticky;
  top: 0px;
  background-color: rgba(187, 144, 84, 0.338);
  height: 60px;
  line-height: 60px;
}

a {
  display: inline-block;
  margin-left: 70px;
  width: 300px;
  color: rgb(116, 91, 37);
  text-decoration: none;
  font-style: italic;
  font-family: serif;
  font-size: 20px;
  text-shadow: 1px 1px rgb(12, 12, 12);
}

.box {
  margin: 10px 200px;
  background-color: rgba(173, 132, 100, 0.785);
}

p {
  margin: 15px;
  text-indent: 2em;
  font-family: serif;
  font-size: 20px;

}

h4 {
  text-align: center;
  font-size: larger;
}