* {
  padding: 0;
  margin: 0;
}

body {
  background: url(images/bg1.jpg) no-repeat fixed center;
  background-size: cover;
}



.nav {
  background-color: rgba(201, 89, 89, 0.3);
  height: 60px;
  line-height: 60px;
}

a {
  display: inline-block;
  margin-left: 70px;
  width: 300px;
  color: rgb(112 56 66);
  text-decoration: none;
  font-style: italic;
  font-family: serif;
  font-size: 20px;
  text-shadow: 1px 1px rgb(112 56 66);
}

.w {
  overflow: hidden;
  margin: 0 100px;
  background-color: rgba(169, 97, 109, 0.384);
}

.left {
  float: left;
  width: 500px;
  list-style: none;
  border-right: 3px dotted rgba(228, 136, 152, 0.504);
}


img {
  margin-left: 200px;
  margin-top: 10px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

h4 {
  margin-left: 265px;

}


li {
  margin-left: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.right {
  float: left;
  width: 815px;
  font-family: fangsong;
  font-style: italic;
  font-size: 20px;
}

.right p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  ;
  margin-left: 50px;
  margin-top: 20px;
}